*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
section{
    
   background-color:#000000 ; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
section .lohg{
   
    width: 300px;
    height: 12vh;
    text-align: center;
    align-content: center;
    margin-left: 20px;
}
section .lohg h1{
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
        background: linear-gradient(-45deg, chocolate,  rgb(190, 238, 0), orange);

    /* background-image: url("../image/fun5.jpg"); */
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text; 

}
 

 section ul { 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
  
}
  section ul li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
    section  ul li a {
    font-size: 1.2rem;
 color: #eda303;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0px;
  position: relative;
}
section ul li a:hover{
    color: #E8FF77;
    text-shadow: 5px 5px 10px rgb(222, 222, 231);
    text-underline-position: under;

}
  section ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
 background-color: #E8FF77;
  transition: 0.8s;
}
 section ul li a:hover:after { 
  width: 100%; 
  left: 0; 
}
section ul li a::before {    
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 2px;
  right: 50%;
  position: absolute;
  background-color: #E8FF77;
  transition: 0.8s;
  width: 0;
}
 section ul li a:hover::before { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
    ul{
        margin-bottom: -40%;
    }
}

section .btn a{
    text-decoration: none;
    padding: 10px;
    color: #000000;
    background-color:#eda303;
    margin: 20px;
    border-radius: 10px;

}
section .btn a:hover{
    color: #000000;
    background-color: white;
}
section .btn i{
    color: #eda303;
    font-size: 25px;
    margin: 10px;

}
section .btn i:hover{
  color: #E8FF77;
     transform: scale(1, 1);
}





.contact {
     text-align: center;
    align-content: center;
    background-color:#000000 ; 

}

.contact .contac {
    margin-top: 10%;
    font-size: 1.1rem;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.contact .contac div {
    border: 3px solid rgb(252, 163, 8);
    width: 10%;
    text-align: center;
margin: 0 auto;
    margin-bottom: 2%;
    border-radius: 30px;
    animation: und 2s linear infinite alternate;
}

@keyframes und {
    from {
        width: 0%;

    }
}

.contact .contac p {
    color: white;
    font-size: 1.3rem;
}
 .pro {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-evenly;
    align-content: center;
    align-content: center;
    padding: 20px;
}

.contact .pro .names {
    width: 500px;
    height: 400px;
    text-align: start;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 0 3px 3px orange;
  align-content: center;

}

.contact .pro .names .na label {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    text-align: start;
    color: orange;
}

.contact .pro .names .na input {

    border: none;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    font-size: 1rem;
    padding: 10px;
    margin-left: 6%;
 border-bottom: 2px solid rgb(255, 183, 0);
}
.contact input:focus,textarea:focus{
    box-shadow: 0 0px 20px rgb(255, 183, 0);
    background: 0 8px 20px gray;
}

.contact .pro .names .addr label {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    text-align: start;
    color: orange;
}

.contact .pro .names .addr input {
    border: none;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    font-size: 1rem;
    padding: 10px;
    margin-left: 8%;
    border-bottom: 2px solid rgb(255, 183, 0);
}

.contact .pro .names .mess label {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    text-align: start;
    color: orange;
}

.contact .pro .names .mess input {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    margin: 10px;
    font-size: 1rem;
    padding: 10px;
    margin-left: 6%;
 border-bottom: 2px solid rgb(255, 183, 0);
     text-align: start;

}

.contact .pro .names .ager {
    margin-top: 10%;
    text-align: center;
    align-content: center;
    transition: 0.8s;

}

.contact .pro .names .ager a {
    text-decoration: none;
    color: rgb(255, 162, 0);
    background-color: rgb(33, 29, 22);
    padding: 10px;
    border-radius: 10px;
     transition: 0.8s;
}

.contact .pro .names .ager a:hover {
    color: black;
     box-shadow: inset 5px 5px orange;
    background-color: white;
}

.contact .pro .addres {

    width: 500px;
    height: 400px;
    border: 1px solid orange;
    border-radius: 20px;
 box-shadow: 0 3px 3px orange;}

.contact .pro .addres div {
    padding: 5%;
}


.addres P{
    text-align: start;
    padding: 20px;
    color: white;
    padding: 5px 20px 10px 20px;
    font-size: 1.2rem;
    /* text-decoration: none; */
    
}

.addres P i {
    padding-right: 5%;
    color: orange;
    font-size: 1.5rem;
}
.addres P:hover{
    color: #E8FF77;
}
.addres P i:hover{
    transform: scale(1.1);
  color: #E8FF77;
}

.contact .map {

    height: 200px;
   display: flex;
   justify-content: center;
    color: orange;
    font-size: 2rem;
    transition: 0.8;
    gap: 20px;
    align-content: center;
    margin: 10% auto;
    transition: 0.8s;


}
.contact .map i{
    transition: 0.8s;
}

.contact .map i:hover {
  transform: scale(1.1);
  color: #E8FF77;
}

.contact .sdlc {
    text-align: center;
    color: white;
    color: orange;
    word-spacing: 6px;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    margin-top: 5%;
}
.mapes{
    width: 100%;
    height: 50vh;
}
footer{
    margin-top: 10%;
}

footer{
    /* background-color: #B1B5B9; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}
footer .bexes{
    width: 300px;
    height: 400px;
}
footer .lohg{

    width: 300px;
    text-align: center;
    align-content: center;
    /* font-size: 3rem; */


}
footer .lohg h1{
    /* font-weight: 800; */
    font-family: "Poppins", sans-serif;
    /* background-image: url("../image/fun5.jpg"); */
    background: linear-gradient(-45deg, chocolate,  gray, orange);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    padding: 20px;

}

footer .bexes p{
    font-size: 1rem;
    color: white;
    padding: 10px;
}
footer .bexes p a{
    font-size: 1rem;
    color: white;
    /* padding: 10px; */
    text-decoration: none;
}
footer .bexes p a:hover{
    color:chocolate ;
}
footer .bexes p:hover{
    color:chocolate ;
}
footer .bexes .po{
     font-size: 1.3rem;
    text-align: start;
    color: white;
    padding: 10px;
    text-align: center;
}
footer .bexes .po i{
    color: #eda303;
   margin-top: 10%;
    font-size: 36px;
}
footer .bexes h1{
    font-size: 1.5rem;
    color: #f69606;
}



@media all and (max-width:576px){
    section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    width: 60%;
    text-align: center;
    color: #E9E9E9;
    display: none;
}
.contact .pro .names {
    width: 350px;
    height: 500px;
    text-align: start;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 0 3px 3px orange;
    align-content: center;
    margin: 20px 0;
}
.pro {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-evenly;
    align-content: center;
    align-content: center;
}
.contact .pro .names .na input {
    border: none;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    font-size: 1rem;
    padding: 10px;
    margin-left: 11%;
    border-bottom: 2px solid rgb(255, 183, 0);
}
.contact .pro .names .addr input {
    border: none;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    font-size: 1rem;
    padding: 10px;
    margin-left: 12%;
    border-bottom: 2px solid rgb(255, 183, 0);
}
.contact .pro .names .mess input {
    border: none;
    border-radius: 10px;
    width: 220px;
    height: 100px;
    margin: 10px;
    font-size: 1rem;
    padding: 10px;
    margin-left: 4%;
    border-bottom: 2px solid rgb(255, 183, 0);
    text-align: start;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    margin-top: 30%;
}
.contact .pro .addres {
    width: 300px;
    height: 400px;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 0 3px 3px orange;
}
section .lohg h1 {
    font-size: 2rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    background-image: url(../image/fun5.jpg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
}


