*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
     /* background-color: #B1B5B9; */
}
html{
   scroll-behavior: smooth;
}
section{
    border: 2px solid green;
   background-color:#000000 ; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
section .lohg{
    width: 300px;
    height: 12vh;
    text-align: center;
    align-content: center;
    margin-left: 20px;
}
section .lohg h3{
    font-size: 2rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    background-image: url("../image/fun5.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text; 

}
 
section ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    width: 60%;
    text-align: center;
    color: #E9E9E9;
}
section  ul li{
    list-style: none;
}
section ul li a{
    text-decoration: none;
    color: #E9E9E9;
}
section .btn a{
    text-decoration: none;
    padding: 20px;
    color: #E9E9E9;
}
 








 .twovers{
     border: 2px solid green;
   width: 100%;
   height: 100vh;
   background-image: url("../image/Rectangle\ 1441.png");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.twovers .area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    align-content: end;
}


 .twovers .area h1 {
    padding-right: 5px;
    color: rgb(237, 155, 3);
    font-size: 3rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    /* width: 45%; */
    /* overflow: hidden; */
    /* text-wrap: nowrap; */
    text-align: center;
    /* animation: type 5s steps(25) infinite, bulb 1s infinite alternate; */

}

/* @keyframes bulb {
    50% {
        border: transparent;
    }
}

@keyframes type {
    from {
        width: 0;
    }
} */
.twovers .area p{
    /* width: 700px; */
    padding: 30px;
    text-align: center;
    font-size: 1.3rem;
    color: azure;
}
.place-item{
     background-color: #000000;
   background-image: url("../image/back3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
}
.place-item h1{
   color: chocolate;
   padding: 30px;
   margin-left: 35%;
   font-size: 2.5rem;
}

.place-item .hero{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 5%;
   /* padding: 20px; */
   margin: 20px;
}
.place-item .hero .heros{
   /* border: 1px solid; */
   width: 300px;
   height: 300px;
   position: relative;
   overflow: hidden;
   transition: 0.8s;
   /* padding: 20px; */
   margin: 20px;
   border-radius: 30px;
}
.place-item .hero .heros img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.place-item .hero .heros .centhal{
   width: 100%;
   position: absolute;
   bottom: -100%;
   background-color: rgba(0, 0, 0, 0.701);
      transition: 0.8s;
}
.place-item .hero .heros .centhal a{
   width: 100%;
   text-decoration: none;
   text-align: center;
   font-size: 1.5rem;
   color: aliceblue;
   padding: 10px;
   align-content: center;
   margin-left: 20%;
   left: 20%;
}

.heros:hover .centhal{
   top: 60%;
   transition: 5s;
}












.offer{
     border: 2px solid green;
   /* position: relative; */
   background-color: #B1B5B9;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 5%;
   flex-direction: column;

}
 
.bor h1{
   color: chocolate;
   padding: 20px;
   font-size: 2.8rem;
   margin-left: 38%;
}
.offer .offeres{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 20px;
   align-content: center;
   margin-top: 10%;

}

.offer .offeres .off1{
   width: 350px;
   height: 350px;
   background-image: url("../image/dyining.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   padding: 20px;
   border-radius: 20px;

}
.offer .offeres .off1 h2{
    padding: 20px;
   font-size: 2.8rem;
   color: black;
   text-align: center;
   margin-left: start;
}
.offer .offeres .off1:hover{
   background-image: url("../image1/table1.jpg");
    background-size: cover;
   background-repeat: no-repeat;
   border-radius: 0% 100% 0% 100% / 72% 28% 72% 28%  ;
}
.offer .offeres .off1 a{
   text-decoration: none;
   /* padding: 5px; */
   /* border: 1px solid rgb(8, 6, 6); */
   border-radius: 10px;
   font-size: 1.5rem;
   text-align: center;
   padding: 2px;
   color: chocolate;
  

}
.offer .offeres .off1 a:hover{
   background-color: aliceblue;
   color: black;
}
.offer .offeres .off2 h2{
    padding: 20px;
   font-size: 2.8rem;
   color: black;
   text-align: center;
   margin-left: start;
}
.offer .offeres .off2{
   border: 1px solid;
   width: 350px;
   height: 350px;
   padding: 20px;
    background-image: url("../image1/light1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;

}
.offer .offeres .off2:hover{
    background-image: url("../image1/light2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
border-radius: 0% 100% 0% 100% / 72% 28% 72% 28%  ;

}
.offer .offeres .off2 a{
   text-decoration: none;
   /* padding: 5px; */
   /* border: 1px solid rgb(8, 6, 6); */
   border-radius: 10px;
   font-size: 1.5rem;
   text-align: center;
   padding: 2px;
   color: chocolate;
  

}
.offer .offeres .off2 a:hover{
   background-color: aliceblue;
   color: black;
}
.offer .offeres .off3 h2{
    padding: 20px;
   font-size: 2.8rem;
   color: black;
   text-align: center;
   margin-left: start;
}
.offer .offeres .off3{
   border: 1px solid;
   width: 350px;
   height: 350px;
   padding: 20px;
    background-image: url("../image1/sale1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;

}
.offer .offeres .off3:hover{
       background-image: url("../image1/sale2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 0% 100% 0% 100% / 72% 28% 72% 28%  ;
}

.offer .offeres .off3 a{
   text-decoration: none;
   /* padding: 5px; */
   /* border: 1px solid rgb(8, 6, 6); */
   border-radius: 10px;
   font-size: 1.5rem;
   text-align: center;
   padding: 2px;
   color: chocolate;
  

}
.offer .offeres .off3 a:hover{
   background-color: aliceblue;
   color: black;
}










.about{
     border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    margin-top: 5%;
}
.about .bonding{
    /* border: 1px solid white; */
    width: 700px;
    /* height: 700px; */
}
.about .bonding h1{
    font-size: 2.5rem;
     font-weight: 500;
      color: #f9990a;
      text-align: start;
      padding: 20px;
}
.about .bonding .p{
    color: white;
    font-size: 1.2rem;
    text-align: start;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 20px ;
}
.about .bonding p{
    color: #fefdfb;
    font-size: 1.3rem;
    text-align: start;
   
    padding: 5px ;
}
.about .bonding span{
    color: #f9990a;
    padding: 20px;
}
.about .bonding1{
      /* border: 1px solid white; */
    width: 600px;
    height: 600px;
    animation-name: lay;
    background-repeat: no-repeat;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-duration: 10.8s;
    background-position: center;
    /* border-radius: 89% 11% 96% 4% / 17% 95% 5% 83%  ; */
    border-radius: 20px;
    
}
@keyframes lay {
    50%{
        background-image: url("../image/Home-1-slider-img-02.jpg");
    }
     /* 50%{
        background-image:url("../image/celling.jpg") ;
    } */
    100%{
        background-image: url("../image/Home-1-slider-img-05.jpg");
    }
   
} 






















.cardcontainer {
     border: 2px solid green;
   /* margin: 10px; */
   margin-top: 10%;
   background-color: #B1B5B9;
   
}

.cardcontainer .card-header {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(229, 162, 73);
    margin-left: 35%;
}

.product-container {
    background-color: #B1B5B9;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.product-container .card {
    width: 350px;
    height: 400px;

}

.product-container .card .cardimg {
    height: 250px;
   
}

.product-container .card .cardimg img {

    height: 100%;
    width: 100%;
}

.product-container .card .cardimg img:hover {
     border-radius: 10%; 
    transform: scale(1.1);
    transition: 5s;
}

.product-container .card .cardfooter {
  font-family: "Poppins", sans-serif;

    text-align: center;
    padding: 10px;
    color: chocolate;
}

.product-container .card .cardfooter button {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
         font-family: "Poppins", sans-serif;

    background-color: rgb(10, 14, 14);
    color: rgb(249, 144, 7);
}









.main{
     border: 2px solid green;
    text-align: center;
    /* border: 1px solid blue; */
    margin: 20px;
   
}
.main h1{
    align-content: center;
    text-align: center;
     color: #FCF574;
    font-size: 2.5REM;
    font-weight: 700;
     margin-left: 40%;
     padding: 20px;
}
.containers {
  /* border: 1px solid; */
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 50px;
}
.containers .carda{
  /* border: 1px solid red; */
  height: 300px;
  width: 300px;
  
  position: relative;
  overflow: hidden;
}
.containers .carda img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carda .cart-card{
  background-color: rgba(28, 26, 23, 0);
  width: 50%;
  position: absolute;
  bottom: -100%;
  display: flex;
  flex-direction: column;
  right: 0;
  /* align-items: center; */
  transition: .8s;
  
}

.cart-card a{
 
  
  text-decoration: none;
  color: rgb(19, 16, 11);
  background-color:#f9990a;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
   transition: .8s;
   /* padding: 0px; */
   /* border-radius: 30px; */
   clip-path: polygon(100% 0, 0% 100%, 100% 100%);
   /* margin-right: 20%; */
}
.cart-card a i{
    /* padding: 20px; */
    /* margin: 10px; */
    margin-top: 50px;
    margin-left: 20%;
}

.cart-card a:hover{
  background-color: rgb(216, 213, 208);
  color: rgb(254, 132, 2);
  transition: .8s;
}
.carda:hover .cart-card{
  bottom: 0px;
  right: -10%;
 
}

.cart-card i{
  padding: 30px;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
 
}





















.slider{
     border: 2px solid green;
     width: 99vw;
     /* width: 100%; */
    height: 100%;
    overflow: hidden;
    padding: 0 5em;
      background: black;
   
   
   
}
.slider h1{

   font-size: 3rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 142, 4);
     text-align: center;
     margin-top: 10%;
     margin-left: 35%;
   
}

.cardslider{
   
    height:20em;
    margin: 2em;
    display: flex;
    gap: .8em;
    overflow-x: scroll;
    scroll-behavior: smooth;
    anchor-name: --btn;
    scroll-snap-type: x mandatory;
    scroll-marker-group:after;
}
.cardslider::scroll-marker-group{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.cardslider::-webkit-scrollbar{
    display: none;
}
/* .cardslider::scroll-button(right), .cardslider::scroll-button(left){
    content: '→';
    width: 2em;

    height: 2em;
    font-size: 1.5rem;
    border-radius: 50%;
    border: none;
    position: fixed;
    position-anchor: --btn;
    position-area: right center;
    translate: -50%;
    cursor: pointer;
}
.cardslider::scroll-button(left){
    content: '←';
    position-area: left center;
    translate: 50%;
}
.cardslider::scroll-button(right):disabled, .cardslider::scroll-button(left):disabled{
    cursor: auto;
} */
.cards{
    flex: 0 0 20em;
    border-radius: .9em;
    text-align: center;
    background-color: rgb(236, 232, 226);
    scroll-snap-align: start;
    
}
.cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards::scroll-marker{
    content: '';
    width: .5em;
    height: .5em;
    background-color: aliceblue;
    border-radius: 50%;
}
.cards::scroll-marker:target-current{
    background-color:orange;
}



.sliders{
     border: 2px solid green;
     width: 99vw;
     /* width: 100%; */
    height: 100%;
    overflow: hidden;
    padding: 0 5em;
    background-color: #B1B5B9;
   
   
   
}
.sliders h1{

   font-size: 3rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 142, 4);
     text-align: center;
     margin-top: 10%;
     margin-left: 35%;
   
}

.slid{
     border: 2px solid green;
     width: 99vw;
     /* width: 100%; */
    height: 100%;
    overflow: hidden;
    padding: 0 5em;
    background-color:black;
   
   
   
}
.slid h1{

   font-size: 3rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 142, 4);
     text-align: center;
     margin-top: 10%;
     margin-left: 35%;
   
}








.classses{
     border: 2px solid green;
    width: 100%;
     background-color: #B1B5B9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* flex-direction: row; */
    align-content: center;
    gap: 1%;
    margin-top: 10%;
    /* padding: 50px; */

}
.classses .cla{
    /* border: 1px solid white; */
    width: 400px;
    height: 550px;
    
}
.classses .cla .ber1{
    width: 400px;
    height: 300px;
}
.classses .cla .ber1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.classses .cla .ber2 h1{
    color: #dc8d05;
    text-align: center;
    padding: 10px;
}
.classses .cla .ber2 p{
    padding: 10px;
    text-align: center;
}
.classses .cla .ber2 a{
    text-decoration: none;
   color: #dc8d05;
    text-align: center;
    padding: 20px;
    margin-left: 5%;
    font-size: 1.3rem;
}








/* footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */


footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background-color: #000000;
}
footer .bexes{
    /* border: 1px solid white; */
    width: 300px;
    height: 400px;
}
footer .lohg{
    width: 300px;
    /* height: 12vh; */
    text-align: center;
    align-content: center;
    /* margin-left: 20px; */
}
footer .lohg h1{
    font-size: 2rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    background-image: url("../image/fun5.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    padding: 20px;

}
footer .bexes p{
    font-size: 1.3rem;
    /* text-align: start; */
    color: white;
    padding: 10px;
}
footer .bexes p:hover{
    color:chocolate ;
}
footer .bexes .po{
     font-size: 1.3rem;
    text-align: start;
    color: white;
    padding: 10px;
    text-align: center;
}
footer .bexes h1{
    font-size: 2rem;
    color: #f69606;
}


















@media all and (max-width:576px){
    .cardslider{
        width: 100%;
        margin: 10em 0;
    }
    .cards{
        flex: 0 0 100%;
    }

}















@media all and (max-width:768px){
.place-item h1 {
    color: chocolate;
    padding: 30px;
    margin-left: 20%;
    font-size: 2.5rem;
}
.bor h1 {
    color: chocolate;
    padding: 20px;
    font-size: 2.8rem;
    margin-left: 25%;
}
.slider h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 142, 4);
    text-align: center;
    margin-top: 10%;
    margin-left: 2%;
}
.sliders h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 142, 4);
    text-align: center;
    margin-top: 10%;
    margin-left: 15%;
}
.slid h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 142, 4);
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
}

















    .cardslider{
        width: 100%;
        margin: 10em 0;
    }
    .cards{
        flex: 0 0 100%;
    }

}
















@media all and (max-width:576px){
    section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    width: 60%;
    text-align: center;
    color: #E9E9E9;
    display: none;
}
    .twovers .area p {
    width: 300px;
    padding: 30px;
    text-align: center;
    font-size: 1.3rem;
    color: azure;
}

.twovers .area h1 {
    padding-right: 5px;
    color: rgb(237, 155, 3);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    width: 97%;
    overflow: hidden;
    /* text-wrap: nowrap; */
    text-align: start;
    /* animation: type 5s steps(5) infinite, bulb 1s infinite alternate; */
}
.place-item h1{
   color: chocolate;
   padding: 30px;
   margin-left: 15%;
   font-size: 2rem;
}
.bor h1 {
    color: chocolate;
    padding: 20px;
    font-size: 2rem;
    margin-left: 5%;
}
.offer .offeres .off1{
   width: 250px;
   height: 300px;
   background-image: url("../image/dyining.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   padding: 20px;
   border-radius: 20px;

}
.offer .offeres .off1 h2{
    padding: 20px;
   font-size: 2rem;
   color: black;
   text-align: center;
   margin-left: start;
}
.offer .offeres {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2px;
    align-content: center;
    margin-top: 10%;
}
.offer .offeres .off2 {
    border: 1px solid;
    width: 250px;
    height: 300px;
    padding: 20px;
    background-image: url(../image1/light1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.offer .offeres .off3 {
    border: 1px solid;
    width: 250px;
    height: 300px;
    padding: 20px;
    background-image: url(../image1/light1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.cardcontainer .card-header {
    text-align: center;
    font-size: 1rem;
    color: rgb(229, 162, 73);
    margin-left: 2%;
}
.product-container .card {
    width: 250px;
    height: 400px;
}
.slider h1{

   font-size: 2rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 142, 4);
     text-align: center;
     margin-top: 10%;
     margin-left: 2%;
   
}
.sliders h1{

   font-size: 2rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 142, 4);
     text-align: center;
     margin-top: 10%;
     margin-left: 2%;
   
}
.slid h1{

   font-size: 2rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 142, 4);
     text-align: center;
     margin-top: 10%;
     margin-left: 2%;
   
}
.classses .cla {
    /* border: 1px solid white; */
    width: 250px;
    height: 550px;
}
.classses .cla .ber1 {
    width: 250px;
    height: 300px;
}
.classses .cla .ber2 p {
    padding: 10px;
    width: 250px;
    text-align: center;
}
.classses .cla .ber2 h1 {
    color: #dc8d05;
    /* text-align: start; */
    padding: 10px;
    
}
.classses .cla .ber2 a {
    text-decoration: none;
    color: #dc8d05;
    text-align: center;
    padding: 20px;
    /* margin-left: 30%; */
    font-size: 1.3rem;
}
footer .bexes {
    /* border: 1px solid white; */
    width: 250px;
    height: 400px;
}
.containers {
    /* border: 1px solid; */
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    /* padding: 50px; */
}
.containers .carda {
    /* border: 1px solid red; */
    height: 300px;
    width: 200px;
    position: relative;
    overflow: hidden;
}
.main h1 {
    align-content: center;
    text-align: center;
    color: #febc08;
    font-size: 2.5REM;
    font-weight: 700;
    margin-left:5%;
    padding: 20px;
}
}






 




