  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
body{
    
    background-color:#000000 ;  
}




section{
    /* border: 1px solid red; */
   background-color:#000000 ; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px; */
}
section .lohg{
    width: 300px;
    height: 12vh;
    text-align: center;
    align-content: center;
    margin-left: 20px;
}
section .lohg h3{
    font-size: 2rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    background-image: url("../image/fun5.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text; 

}
 
section ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    width: 60%;
    text-align: center;
    color: #E9E9E9;
}
section  ul li{
    list-style: none;
}
section ul li a{
    text-decoration: none;
    color: #E9E9E9;
}
section .btn a{
    text-decoration: none;
    padding: 20px;
    color: #E9E9E9;
}






header{
  /* background-color:#000000 ;  */
    height: 100vh;
    color: white;
    overflow: hidden;
    object-fit: cover;
    
}
.cardslider{

    height: 100vh;
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    scroll-behavior: smooth;
    anchor-name: --btn;
    scroll-snap-type: x mandatory;
    scroll-marker-group:after;
}
.cardslider .card{
    position: relative;
}
.cardslider .hed{
   position: absolute;
   width: 600px;
   color: #e1e8e7;
   text-align: center;
   align-content: center;
   top: 40%;
   left: 10%;
}
.cardslider .hed h1{
    color: chocolate;
    font-size: 3rem;
    padding: 20px;
}
.cardslider .hed p{
    color: #eef3f3;
    font-size: 1.3rem;
    padding: 20px;
}
.cardslider .hed a{
    text-decoration: none;
    color: #0e0d0d;
    padding: 10px;
    background-color: chocolate;
    border-radius: 10px;
    margin-top: 10%;
   
}
.cardslider .hed a:hover{
    color: white;
    background-color: #000000;
    

}

.cardslider::scroll-marker-group{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.cardslider::-webkit-scrollbar{
    display: none;
}
/* .cardslider::scroll-button(right), .cardslider::scroll-button(left){
    content: ' →';
    width: 2em;
    height: 2em;
    font-size: 1.5rem;
    border-radius: 50%;
    border: none;
    position: fixed;
    position-anchor: --btn;
    position-area: right center;
    translate: -50%;
    cursor: pointer;
} */
/* .cardslider::scroll-button(left){
    content: '←';
    position-area: left center;
    translate: 50%;
} */
/* .cardslider::scroll-button(right):disabled, .cardslider::scroll-button(left):disabled{
    cursor: auto;
} */
.card{
    flex: 0 0 95em;
    border-radius: .7em;
    text-align: center;
    scroll-snap-align: start;
    box-shadow: inset 30px 50px 40px 50px;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
/* .card::scroll-marker{
    margin-top: 2%;
    content: '';
    width: 1em;
    height: 1em;
    background-color: rgb(245, 156, 2);
    border-radius: 50%;
}
.card::scroll-marker:target-current{
    background-color: rgb(238, 227, 229);
} */





.container-fuild{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10%;
    text-align:start;
    align-content: start;
    background-color: #B1B5B9;
    margin: 20px;
    padding: 50px;
}
.container-fuild .hello{
    /* border: 1px solid #000000; */
    width: 800px;
    height: 500px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
     /* box-shadow: 0 3px 3px #000000; */
    border-radius: 20px;
}
.container-fuild .hello .pa{
color: #ede205;
    font-size: 1.5rem;
     font-family: "Poppins", sans-serif;
     padding: 20PX;

}
.container-fuild .hello h1{
    font-size: 2.5rem;
    font-weight: 700;
     font-family: "Poppins", sans-serif;
     padding: 20PX;
}
.container-fuild .hello P{
    padding: 20px;
     color: #3B0000;
    
}
.container-fuild .hello a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 20px;
    color: #ede205;
}
.container-fuild .hello a:hover{
    color: chocolate;
}
.container-fuild .hello1{
    width: 500px;
    height: 500px;
    background-image: url("../image/9eb43df837c9b4e32eff642a586828ce.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container-fuild .hello1:hover{
    background-image: url("../image/wood.jpg");
     background-size: cover;
    background-repeat: no-repeat;
}

.container-fuild .hello1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}










.main{
    
    text-align: center;
    /* border: 1px solid blue; */
    margin: 20px;
   
}
.main h1{
    align-content: center;
    text-align: center;
     color: #FCF574;
    font-size: 2.5REM;
    font-weight: 700;
     margin-left: 40%;
     padding: 20px;
}
.containers {
  /* border: 1px solid; */
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 50px;
}
.containers .carda{
  /* border: 1px solid red; */
  height: 300px;
  width: 300px;
  
  position: relative;
  overflow: hidden;
}
.containers .carda img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carda .cart-card{
  background-color: rgba(28, 26, 23, 0);
  width: 50%;
  position: absolute;
  bottom: -100%;
  display: flex;
  flex-direction: column;
  right: 0;
  /* align-items: center; */
  transition: .8s;
  
}

.cart-card a{
 
  
  text-decoration: none;
  color: rgb(19, 16, 11);
  background-color:#f9990a;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
   transition: .8s;
   /* padding: 0px; */
   /* border-radius: 30px; */
   clip-path: polygon(100% 0, 0% 100%, 100% 100%);
   /* margin-right: 20%; */
}
.cart-card a i{
    /* padding: 20px; */
    /* margin: 10px; */
    margin-top: 50px;
    margin-left: 20%;
}

.cart-card a:hover{
  background-color: rgb(216, 213, 208);
  color: rgb(254, 132, 2);
  transition: .8s;
}
.carda:hover .cart-card{
  bottom: 0px;
  right: -10%;
 
}

.cart-card i{
  padding: 30px;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
 
}
















.ser{
   
   margin: 20px;
   padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: #eaf2f2 transparent;
    
   

}
.contant{
    width: 300px;
    height: 350px;
    padding: 20px;
  margin: 5px;
   box-shadow: inset 0px 0px 25px white,0 0 40px rgb(244, 241, 241);
    border-radius: 15px;
    text-align: center;
    background-color: rgb(212, 213, 215);
}

.margh p{
    font-size: 1rem;
    text-align: start;
    padding: 10px 0 0 0;
    color: #131701;
    margin-top: 5px;
}
.iead h1{
    color: #f69606;
  font-size: 1.8rem;
  padding: 0px 0 10px 0;
}
.sample p{
    text-align:start ;
     color:rgb(21, 20, 17) ;
     font-size: 1.1rem;
}
.headlings{
      background-color: #B1B5B9;
      padding: 20px;
      text-align: center;
      font-size: 2rem;
      color: #f69606;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5%;
    border-radius: 20px;
    margin-top: 5%;
    background-color: #B1B5B9;
}
.cards .card1{
    width: 300px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5%;
    border-radius: 20px;
    margin-top: 5%;
}
.cards .card1 .sild{
    /* border: 1px solid blue; */
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    transition: .8s;
}
.cards .card1 .sild img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.cards .card1 .sild .world{
    background-color: #00000043;
    width: 100%;
    position: absolute;
    /* top: -100%; */
    bottom: -100%;
    /* left: -100%; */
    /* top: 0; */
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
     transition: .8s;
}
.sild:hover .world{
    top: 50%;
}
.cards .card1 .sild:hover{
    opacity: 3s;
}

.cards .card1 .sild .world a i{
    font-size: 2rem;
    /* margin-top: 50%; */
    color: #f69606;
}
.cards .card1 .foot{
    height: 100px;
}
.cards .card1 .foot p{
    text-align: center;
    font-size: 1.5rem;
    color: white;
}








.subcontainer {
    animation-name: layout-run;
    background-repeat: no-repeat;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-duration: 5.8s;
    /* background-position: center; */
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}
.subcontainer .sub{
    width: 500px;
    text-align: center;
    align-items: center;

}
.subcontainer a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #E8FF77;
}
.subcontainer h1{
    font-size: 2.8rem;
    color: #E8FF77;
}
.subcontainer p{
    /* width: 650px; */
    color: #e1e8e7;
    font-size: 1.3rem;
    word-spacing: 5px;
    padding: 20px;
    margin-top: 5%;
}
.subcontainer button{
    border: none;
    padding: 10px;
    margin-top: 5%;
    border-radius: 20px;
   background-color: #E8FF77;
   color: #0a0c0c;
   font-size: 1.2rem;
   background-attachment: fixed;
}

 
@keyframes layout-run {
    0%{
        background-image: url("../image/Home-1-slider-img-02.jpg");
    }
     50%{
        background-image:url("../image/Home-1-slider-img-04.jpg") ;
    }
    100%{
        background-image: url("../image/Home-1-slider-img-05.jpg");
    }
   
} 
.Furnitue{
     background-color: #B1B5B9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10%;
    /* padding: 20px; */
}
.Furnitue .fur1{
    width: 600px;
    /* height: 500px; */
    /* border: 1px solid; */
}
.Furnitue .fur1 img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Furnitue .fur2{
    width: 700px;
    /* height: 600px; */
     background-color: #B1B5B9;
    /* border: 1px solid; */
}




.projectss .ego {
 
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 align-content: center;
 /* height: 100vh; */
 /* padding: 20px; */
  background-color: #B1B5B9;

}
 .ego .cardo{
 
  height: 250px;
  width: 250px;
  background-color: #e1e8e7;
  background-size: cover;
  border-radius: 20px;
 
  position: relative;
  overflow: hidden;
  /* padding: 20px; */
  margin: 10px;
  transition: 0.5s;
}
.ego .cardo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}



.cardo .cart-card1{
  background-color: rgb(0, 0, 0, .1);
  /* height: 100%; */
  width: 100%;
  position: absolute;
  bottom: -50px;
  /* bottom: -100%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  transition: .5s;
}

.cart-card1 a{
  /* border-radius: 10%; */
  text-decoration: none;
  color: rgb(35, 9, 2);
  background-color:#f3a108;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
   transition: .8s;
}

a:hover .cart-card1{
/* border-radius: 100% 0% 70% 30% / 100% 100% 0% 0% ; */
  color: white;
  transition: .8s;
  clip-path: circle(50%);
}
.cardo:hover{
     box-shadow: 0 0 20px;
}
.cardo:hover .cart-card1{
 
  /* top: 82%; */
 bottom: 0;
 
  
}

.cart-card1 i{
  /* padding-left: px; */
  font-size: 1.5rem;
}

.client{
      background-color: #B1B5B9;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    color: #e1e8e7;
    align-content: center;
    padding: 20px;
    
}
.client .box p{
    color:  #3B0000;
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
}
.client .box div{
    padding: 10px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.client .box div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sec{
    margin-top: 10%;
    background-color: #000000;
}
.cardslider .card{
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.cardslider .card .zero{
    /* border: 1px solid green; */
    width: 500px;
}
.cardslider .card p{
    /* width: 950px; */
    padding: 10px;
    color: white;
    font-size: 1.3rem;
}
.cardslider .card .are{
    color: #f9990a;
    padding: 20px;
}
.cardslider .card h1{
    font-size: 3rem;
    font-weight: 400;
    color: white;
}
.cardslider .card .image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 40%;
}
.cardslider .card .image img{
    width: 100%;
    height: 100%;
     border-radius: 50%;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}
footer .bexes{
    /* border: 1px solid white; */
    width: 300px;
    height: 400px;
}
footer .lohg{
    width: 300px;
    /* height: 12vh; */
    text-align: center;
    align-content: center;
    /* margin-left: 20px; */
}
footer .lohg h1{
    font-size: 2rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    background-image: url("../image/fun5.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    padding: 20px;

}
footer .bexes p{
    font-size: 1.3rem;
    /* text-align: start; */
    color: white;
    padding: 10px;
}
footer .bexes p:hover{
    color:chocolate ;
}
footer .bexes .po{
     font-size: 1.3rem;
    text-align: start;
    color: white;
    padding: 10px;
    text-align: center;
}
footer .bexes h1{
    font-size: 2rem;
    color: #f69606;
}




@media all and (max-width:768px){
    .container-fuild .hello {
  
    width: 600px;
    height: 500px;
    align-content: center;
    border-radius: 20px;
}
.main h1 {
    align-content: center;
    text-align: center;
    color: #FCF574;
    font-size: 2.5REM;
    font-weight: 700;
    margin-left: 25%;
    padding: 20px;
}
.containers .carda {
     width: 200px;
     height: 200px;
    position: relative;
    overflow: hidden;
}

}
    




   


@media all and (max-width:576px){

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    width: 60%;
    text-align: center;
    color: #E9E9E9;
    display: none;
}
.cardslider .hed h1 {

    color: #f9a20b;
    font-size: 2rem;
    padding: 20px;
}
.cardslider .hed a {
    text-decoration: none;
    color: #0e0d0d;
    padding: 5px;
    background-color: chocolate;
    border-radius: 10px;
    margin-top: 10%;
}
.cardslider .hed p {
    color: #eef3f3;
    font-size: 1rem;
    padding: 20px;
}
.subcontainer p {
    /* width: 650px; */
    color: #e1e8e7;
    font-size: 1.3rem;
    word-spacing: 5px;
    padding: 20px;
    margin-top: 5%;
}
.cardslider .hed{
   position: absolute;
   width: 250px;
   color: #e1e8e7;
   text-align: center;
   align-content: center;
   top: 30%;
   /* left: 10%; */
}
.main h1 {
    align-content: center;
    text-align: center;
    color: #FCF574;
    font-size: 2.5REM;
    font-weight: 700;
    margin-left: 0%;
    padding: 20px;
}
.container-fuild {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-top: 10%; */
    text-align: start;
    align-content: start;
    background-color: #B1B5B9;
    /* margin: 20px; */
    /* padding: 50px; */
}
    .container-fuild .hello {
       
        align-content: center;
        border-radius: 20px;
    }
    .container-fuild .hello .pa {
    color: #ede205;
    font-family: "Poppins", sans-serif;
    margin-top: 5%;
}
.main {
    text-align: center;
   
}

.containers .carda {
    
    position: relative;
    overflow: hidden;
}
.container-fuild .hello h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 20PX;
}
.ego .cardo {
    height: 250px;
    width: 200px;
    background-color: #e1e8e7;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* padding: 20px; */
    margin: 10px;
    transition: 0.5s;
}
footer .lohg {
    width: 200px;
    /* height: 12vh; */
    text-align: center;
    align-content: center;
    /* margin-left: 20px; */
}
.container-fuild .hello1 {
    width: 500px;
    height: 200px;
    background-image: url(../image/9eb43df837c9b4e32eff642a586828ce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cardslider .card h1 {
    text-align: start;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    margin-left: 5%;
}
.cardslider .card p {
    width: 300px;
    padding: 10px;
    color: white;
    font-size: 1rem;
}
.cardslider .card .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 20%;
}

   
}


