  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
body{
    
    background-color:#000000 ;  
}


section{
    
   background-color:#000000 ; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
section .lohg{
   
    width: 300px;
    height: 12vh;
    text-align: center;
    align-content: center;
    margin-left: 20px;
}
section .lohg h1{
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-45deg, chocolate,  rgb(190, 238, 0), orange);

    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text; 

}
 

 section ul { 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
  
}
  section ul li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
    section  ul li a {
    font-size: 1.2rem;
 color: #eda303;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0px;
  position: relative;
  
}
section ul li a:hover{
    color: #E8FF77;
    text-shadow: 5px 5px 10px rgb(222, 222, 231);
    text-underline-position: under;

}
  section ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
 background-color: #E8FF77;
  transition: 0.8s;
}
 section ul li a:hover:after { 
  width: 100%; 
  left: 0; 
}
section ul li a::before {    
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 2px;
  right: 50%;
  position: absolute;
  background-color: #E8FF77;
  transition: 0.8s;
  width: 0;
}
 section ul li a:hover::before { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
    ul{
        margin-bottom: -40%;
    }
}

section .btn a{
    text-decoration: none;
    padding: 10px;
    color: #000000;
    background-color:#eda303;
    margin: 20px;
    border-radius: 10px;

}
section .btn a:hover{
    color: #000000;
    background-color: white;
}
section .btn i{
    color: #eda303;
    font-size: 25px;
    margin: 10px;

}
section .btn i:hover{
  color: #E8FF77;
     transform: scale(1, 1);
}







header{
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    
}
.cardslider{
    height: 100vh;
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    scroll-behavior: smooth;
    anchor-name: --btn;
    scroll-snap-type: x mandatory;
    scroll-marker-group:after;
}
.cardslider .card{
    position: relative;
}
.cardslider .hed{
   position: absolute;
   width: 600px;
   text-align: center;
   align-content: center;
   top: 40%;
   left: 10%;
}
.cardslider .hed h1{
    color: #eda303;
    font-size: 3rem;
    padding: 20px;
}
.cardslider .hed p{
   color: #E8FF77;
    font-size: 1.3rem;
    padding: 20px;
}
.cardslider .hed a{
    text-decoration: none;
    color: #0e0d0d;
    padding: 10px;
    background-color:#eda303;
    border-radius: 10px;
    margin-top: 10%;
   
}
.cardslider .hed a:hover{
    color: white;
    background-color: #000000;
    

}

.cardslider::scroll-marker-group{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.cardslider::-webkit-scrollbar{
    display: none;
}

.card{
    flex: 0 0 95em;
    border-radius: .7em;
    text-align: center;
    scroll-snap-align: start;
    box-shadow: inset 30px 50px 40px 50px;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}










.container-fuild{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10%;
    text-align:start;
    align-content: start;
    background-color: #B1B5B9;
    margin: 20px;
    padding: 50px;
}
.container-fuild .hello{
   
    width: 800px;
    height: 500px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}
.container-fuild .hello .pa{
color: #ede205;
    font-size: 1.5rem;
     font-family: "Poppins", sans-serif;
     padding: 20PX;

}
.container-fuild .hello h1{
    font-size: 2.5rem;
    font-weight: 700;
     font-family: "Poppins", sans-serif;
     padding: 20PX;
}
.container-fuild .hello P{
    padding: 20px;
     color: #3B0000;
    
}
.container-fuild .hello a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    background-color: #E8FF77;
    color:#000000;
    border-radius: 10px;
}
.container-fuild .hello a:hover{
    color: chocolate;
}
.container-fuild .hello1{
    width: 500px;
    height: 500px;
    background-image: url("../image/9eb43df837c9b4e32eff642a586828ce.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.8s;
     border-radius: 20px;
}
.container-fuild .hello1:hover{
    background-image: url("../image/dyining.jpg");
     background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.container-fuild .hello1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}










.main{
    
    text-align: center;
    margin: 20px;
   
}
.main h1{
    align-content: center;
    text-align: center;
     color: #FCF574;
    font-size: 2.5REM;
    font-weight: 700;
     margin-left: 40%;
     padding: 20px;
}
.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 50px;
}
.containers .carda{
  height: 300px;
  width: 300px;
  
  position: relative;
  overflow: hidden;
}
.containers .carda img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carda .cart-card{
  background-color: rgba(28, 26, 23, 0);
  width: 50%;
  position: absolute;
  bottom: -100%;
  display: flex;
  flex-direction: column;
  right: 0;
  transition: .8s;
  
}

.cart-card a{
 
  
  text-decoration: none;
  color: rgb(19, 16, 11);
  background-color:#f9990a;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
   transition: .8s;
   clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.cart-card a i{
    margin-top: 50px;
    margin-left: 5%;
}

.cart-card a:hover{
  background-color: rgb(216, 213, 208);
  color: rgb(254, 132, 2);
  transition: .8s;
}
.carda:hover .cart-card{
  bottom: 0px;
  right: -10%;
 
}
.carda .caro{
  background-color: rgba(28, 26, 23, 0);
  width: 50%;
  height: 50%;
  position: absolute;
  top: -100%;
  display: flex;
  flex-direction: column;
  left: 0;
  transition: .8s;
  margin-top: 0;
  
}
.caro a{
 
  
  text-decoration: none;
  color: rgb(19, 16, 11);
  background-color:#f9990a;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 600;
   transition: .8s;
clip-path: polygon(0 100%, 100% 4%, 0 0);
   margin-right: 10px;
   text-align: center;
}
.caro a i{
    margin-bottom: 30px;
    margin-right: 60%;
    text-align: center;
    font-size: 26px;
   
}

.caro a:hover{
  background-color: rgb(216, 213, 208);
  color: rgb(254, 132, 2);
  transition: .8s;
}
.carda:hover .caro{
  top: -5px;
 
}

.cart-card i{
  padding: 30px;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
 
}
















.ser{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: #eaf2f2 transparent;
    
   

}
.contant{
    width: 300px;
    height: 350px;
    padding: 20px;
  margin: 5px;
   box-shadow: inset 0px 0px 25px white,0 0 40px rgb(244, 241, 241);
    border-radius: 15px;
    text-align: center;
    background-color: rgb(212, 213, 215);
}
.contant:hover{
    box-shadow: outset 0px 0px 25px rgb(232, 137, 6),0 0 40px rgb(232, 137, 6);
    background-color: #e8ff77d4;
    
}


.margh p{
    font-size: 1rem;
    text-align: start;
    padding: 10px 0 0 0;
    color: #131701;
    margin-top: 5px;
}
.iead h1{
    color: #f69606;
  font-size: 1.8rem;
  padding: 0px 0 10px 0;
}











.subcontainer {
    animation-name: layout-run;
    background-repeat: no-repeat;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-duration: 5.8s;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}
.subcontainer .sub{
    width: 500px;
    text-align: center;
    align-items: center;

}

.subcontainer h1{
    font-size: 2.8rem;
     color: #eda303;
}
.subcontainer p{
    color: #e1e8e7;
    font-size: 1.3rem;
    word-spacing: 5px;
    padding: 20px;
    margin-top: 5%;
}
.subcontainer button{
    border: none;
    padding: 10px;
    margin-top: 5%;
    border-radius: 10px;
   background-color:#eda303;
   color: #0a0c0c;
   font-size: 1.2rem;
   background-attachment: fixed;
}

.subcontainer button:hover{
    color: #000000;
    background-color: #B1B5B9;

}
 
@keyframes layout-run {
    0%{
        background-image: url("../image/Home-1-slider-img-02.jpg");
    }
     50%{
        background-image:url("../image/Home-1-slider-img-04.jpg") ;
    }
    100%{
        background-image: url("../image/Home-1-slider-img-05.jpg");
    }
   
} 







.fear{
    background-color: #B1B5B9;
    color: #E8FF77;
    margin-top: 5%;
    display: flex;
    justify-content: center;
   
}

.fear h1{
    font-size: 2.5rem;
    padding: 20px;
    /* margin-top: 5%; */
}



.Furnitue{
     background-color: #B1B5B9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-top: 10%; */
}
.Furnitue .fur1{
    width: 600px;

}
.Furnitue .fur1 img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Furnitue .fur2{
    width: 700px;
     background-color: #B1B5B9;

}

.projectss .ego {
 
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 align-content: center;
  background-color: #B1B5B9;

}
 .ego .cardo{
 
  height: 250px;
  width: 250px;
  background-color: #e1e8e7;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  transition: 0.5s;
}
.ego .cardo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}



.cardo .cart-card1{
  background-color: rgb(0, 0, 0, .1);
  width: 100%;
  position: absolute;
  bottom: -50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  transition: .5s;
}

.cart-card1 a{
  text-decoration: none;
  color: rgb(35, 9, 2);
  background-color:#f3a108;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
   transition: .8s;
}

a:hover .cart-card1{
  color: white;
  transition: .8s;
  clip-path: circle(50%);
}
.cardo:hover{
     box-shadow: 0 0 20px;
}
.cardo:hover .cart-card1{
 
 bottom: 0;
 
  
}

.cart-card1 i{
  font-size: 1.5rem;
}











.sec{
    margin-top: 10%;
    background-color: #000000;
}
.cardslider .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.cardslider .card .zero{
    width: 500px;
}
.cardslider .card p{
    padding: 10px;
    color: white;
    font-size: 1.3rem;
}
.cardslider .card .are{
    color: #f9990a;
    padding: 20px;
}
.cardslider .card h1{
    font-size: 3rem;
    font-weight: 400;
    color: white;
}
.cardslider .card .image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 40%;
}
.cardslider .card .image img{
    width: 100%;
    height: 100%;
     border-radius: 50%;
}













.client{
      background-color: #B1B5B9;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    color: #e1e8e7;
    align-content: center;
    padding: 50px;
    /* margin: 20px; */
    
}

.client .box p{

    color: #090806;
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
}
.client .box div{
    /* padding: 10px; */
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.client .box div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.8s;
}
.client .box div img:hover{
     transform: scale(1.1);
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
}







footer{
    /* background-color: #B1B5B9; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}
footer .bexes{
    width: 300px;
    height: 400px;
}
footer .lohg{

    width: 300px;
    text-align: center;
    align-content: center;
    font-size: 3rem;


}
footer .lohg h1{
    font-size: 3rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
      background: linear-gradient(-45deg, chocolate,  rgb(190, 238, 0), orange);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    padding: 20px;

}
footer .bexes p a{
    font-size: 1rem;
    color: white;
    /* padding: 10px; */
    text-decoration: none;
}
footer .bexes p a:hover{
    color:chocolate ;
}

footer .bexes p{
    font-size: 1rem;
    color: white;
    padding: 10px;
}
footer .bexes p:hover{
    color:chocolate ;
}
footer .bexes .po{
     font-size: 1.3rem;
    text-align: start;
    color: white;
    padding: 10px;
    text-align: center;
}
footer .bexes .po i{
    color: #eda303;
   margin-top: 10%;
    font-size: 36px;
}
footer .bexes h1{
    font-size: 1.5rem;
    color: #f69606;
}




@media all and (max-width:768px){
    .container-fuild .hello {
  
    width: 600px;
    height: 500px;
    align-content: center;
    border-radius: 20px;
}
.main h1 {
    align-content: center;
    text-align: center;
    color: #FCF574;
    font-size: 2.5REM;
    font-weight: 700;
    margin-left: 25%;
    padding: 20px;
}
.containers .carda {
     width: 200px;
     height: 200px;
    position: relative;
    overflow: hidden;
}
.btn{
    display: none;
}
.cardslider .card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 500px;
}

}
    




   


@media all and (max-width:576px){
    section .btn{
        display: none;
    }

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    width: 60%;
    text-align: center;
    color: #E9E9E9;
    display: none;
}
.cardslider .hed h1 {

    color: #f9a20b;
    font-size: 2rem;
    padding: 20px;
}
.cardslider .hed a {
    text-decoration: none;
    color: #0e0d0d;
    padding: 5px;
    background-color: chocolate;
    border-radius: 10px;
    margin-top: 10%;
}
.cardslider .hed p {
    color: #eef3f3;
    font-size: 1rem;
    padding: 20px;
}
.subcontainer p {
    /* width: 650px; */
    color: #e1e8e7;
    font-size: 1.3rem;
    word-spacing: 5px;
    padding: 20px;
    margin-top: 5%;
}
.cardslider .hed{
   position: absolute;
   width: 250px;
   color: #e1e8e7;
   text-align: center;
   align-content: center;
   top: 30%;
   /* left: 10%; */
}
.main h1 {
    align-content: center;
    text-align: center;
    color: #FCF574;
    font-size: 2.5REM;
    font-weight: 700;
    margin-left: 0%;
    padding: 20px;
}
.container-fuild {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-top: 10%; */
    text-align: start;
    align-content: start;
    background-color: #B1B5B9;
    /* margin: 20px; */
    /* padding: 50px; */
}
    .container-fuild .hello {
       
        align-content: center;
        border-radius: 20px;
    }
    .container-fuild .hello .pa {
    color: #ede205;
    font-family: "Poppins", sans-serif;
    margin-top: 5%;
}
.main {
    text-align: center;
   
}

.containers .carda {
    
    position: relative;
    overflow: hidden;
}
.container-fuild .hello h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 20PX;
}
.ego .cardo {
    height: 250px;
    width: 200px;
    background-color: #e1e8e7;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* padding: 20px; */
    margin: 10px;
    transition: 0.5s;
}
footer .lohg {
    width: 200px;
    /* height: 12vh; */
    text-align: center;
    align-content: center;
    /* margin-left: 20px; */
}
.container-fuild .hello1 {
    width: 500px;
    height: 200px;
    background-image: url(../image/9eb43df837c9b4e32eff642a586828ce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cardslider .card h1 {
    text-align: start;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    margin-left: 5%;
}
.cardslider .card p {
    width: 300px;
    padding: 10px;
    color: white;
    font-size: 1rem;
}
.cardslider .card .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 20%;
}
.fear {
    color: #E8FF77;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Furnitue .fur1 {
    padding: 10px;
    width: 300px;
}
.Furnitue .fur2 {
    width: 300px;
    background-color: #B1B5B9;
}
   
}


